xml-resources/web-service-references/IFilmesWS/wsdl/localhost_8080/ifilmes-ws/IFilmesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ifilmes_ws.pds.ifrn.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ifilmes_ws.pds.ifrn.edu.br/" name="IFilmesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ifilmes_ws.pds.ifrn.edu.br/" schemaLocation="http://localhost:8080/ifilmes-ws/IFilmesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="retrieve">
<part name="parameters" element="tns:retrieve"/>
</message>
<message name="retrieveResponse">
<part name="parameters" element="tns:retrieveResponse"/>
</message>
<message name="retrieveLatest">
<part name="parameters" element="tns:retrieveLatest"/>
</message>
<message name="retrieveLatestResponse">
<part name="parameters" element="tns:retrieveLatestResponse"/>
</message>
<portType name="IFilmesWS">
<operation name="update">
<input wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/createRequest" message="tns:create"/>
<output wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/createResponse" message="tns:createResponse"/>
</operation>
<operation name="retrieve">
<input wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/retrieveRequest" message="tns:retrieve"/>
<output wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/retrieveResponse" message="tns:retrieveResponse"/>
</operation>
<operation name="retrieveLatest">
<input wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/retrieveLatestRequest" message="tns:retrieveLatest"/>
<output wsam:Action="http://services.ifilmes_ws.pds.ifrn.edu.br/IFilmesWS/retrieveLatestResponse" message="tns:retrieveLatestResponse"/>
</operation>
</portType>
<binding name="IFilmesWSPortBinding" type="tns:IFilmesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveLatest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IFilmesWS">
<port name="IFilmesWSPort" binding="tns:IFilmesWSPortBinding">
<soap:address location="http://localhost:8080/ifilmes-ws/IFilmesWS"/>
</port>
</service>
</definitions>